 .wrapper {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
/*     background: #cccccc; */
  }
  .txt {
    display: inline-block;
    text-align: left;
  }
body {
	text-aline: center;
	margin-bottom: 100px;
        background-color:#ffdbc9;
        color: #aa0000;
}
p {
	color: black;
}

a {
	width: 200px;
  }
