body {
	text-aline: center;
	margin-bottom: 100px;
        background-color:#ffdbc9;
        color: #8b4513;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
/*     background: #cccccc; */
  }
  .txt {
    display: inline-block;
    text-align: left;
  }

p {
	color: black;
}

a {
	width: 200px;
  }

.btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : darkbrown;     /* 背景色     */
  color         : #FFFFEE;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #A7B866; /* 影の設定 */
  border        : none;    /* 枠の指定 */
  text-decoration:none  /* 下線を消す */
}
